.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

html,body{
  width:100%;
  height:100%;
  background:#040125;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
}

.container {
  width: 100%;
  padding:0;
}

header .container {
  padding-left:15px;
  padding-right:15px;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #040121;
  background-image: url('../img/brand/Logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
header.navbar.navbar-fixed-top.navbar-inverse.ng-scope {
  min-height:0 !important;
  height: 0;
}

.h100 {
  height: 100%;
}
.mt0 {
  margin-top:0 !important;
}
